<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="springContext" class="com.crx.cbdj.common.context.SpringContext" />
    <bean id="userService" class="com.crx.cbdj.service.impl.UserServiceImpl" />
    <bean id="userDao" class="com.crx.cbdj.dao.impl.UserDaoImpl" />
</beans>